.xradio {
    background-color: #fff;
    max-width: 700px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    strong {
        display: block;
        margin-bottom: 20px;
    }
    .radio-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            &>div {
                min-width: 500px;
            }            
        }
    }
    .img {
        img {
            max-width: 600px;
            display: table;
            margin: 20px auto;
        }
    }
}