.home {
    font-size: 16px;
    height: 100%;
}
.header {
    background-color: #1A73E8;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    h2 {
        color: #fff;
    }
}
.sider {
    background-color: rgb(234, 242, 253);
}